{% extends "Home/base.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Home/CheckStatus.css' %}">

<h3 class="tekst">Podaj numer zamówienia</h3>

<form action="/CheckStatus/" method = "POST" style="text-align: center">
    {% csrf_token %}

    <input type="text" name="orderNumber" value="{{ orderNumber }}" style="text-align: center">

    <div class="field">
        <input type="submit" value="Sprawdź" class="btn btn-danger btn-lg">
    </div>
</form>

<div class="tekst">
{% if orderData is not null %}

    <h4> Zamówienie realizuje pizzeria <i>{{ orderData.pizzeria.name }}</i></h4>
    <h4>Wartość zamówienia: <i>{{ orderData.total }}</i> </h4>
    <div class="tekst">
        <h4> Zamówiłeś następujące pizze: </h4>
        <p class="tekst2">
            {% for op in orderPosition %}
                {{ op.positionInMenu_id.Pizza_FK }} w rozmiarze
                <strong>{{ op.positionInMenu_id.get_pizzaSize_display }}</strong>
                <p class="tekst2">{{ op.positionInMenu_id.price }}
                ilość: {{ op.numberOfPIM }}
            {% endfor %}
        </p>
        <p class="tekst2">
            Zamówione przez Ciebie napoje to: {{ orderdata_obj.get_drink_display }} w ilości: {{ orderdata_obj.numberOfDrinks }}
        </p>
        <p class="tekst2">
            Zamówione przez Ciebie sosy to: {{ orderdata_obj.get_sauce_display }} w ilości: {{orderdata_obj.numberOfSauces }}
        </p>
    </div>
    <div class="tekst">
        <h3>Zamówienie zostanie wysłane na podany adres</h3>
        <h3> {{ orderData.nameAndSurname }} </h3>
        <h3> To jest Twój numer zamówienia: {{orderData.orderNumber }}</h3>
        <p>*) zapamiętaj powyższy numer, przy jego pomocy sprawdzisz status zamówienia</p>
        <h3>To jest status zamówienia: {{orderData.get_orderStatus_display }}</h3>

        {% elif orderNumber is not null and orderNumber != '' %}
            <h3> Zamówienie o numerze {{ orderNumber }} nie istnieje. </h3>
        {% endif %}
    </div>
</div>

{% endblock content %}