{% extends "Home/base.html" %}
{% block content %}
<h1>Strona główna portalu do zamawiania pizzy itPizza. Zapraszam!</h1>
<p>
    <br>
    <!--<a href="http://127.0.0.1:8000/Menu/">Menu</a>-->
    <center>
        <button onclick="location.href='http://127.0.0.1:8000/SelectPizzeria/'" type="button" style=" background-color:#00CCFF; height: 50px; width: 100px">Złóż zamówienie</button>
        <h1>           </h1>
        <button onclick="location.href='http://127.0.0.1:8000/CheckStatus/'" type="button" style=" background-color:#00CCFF; height: 50px; width: 100px">Sprawdź status zamówienia</button>
    </center>

    <br>

    <a href="http://127.0.0.1:8000/Menu/">Menu</a>
{% endblock content %}
