{% extends "Home/base.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Home/oProjekcie.css' %}">
<div>
    <h3 class="tekst">Jak korzystać z serwisu itPizza?</h3>
    <p>
        1. Jeśli chcesz złożyć zamówienie, naciśnij przycisk "Złóż zamówienie". <br>
        2. Wybierz pizzerię. <br>
        3. Zapoznaj się z ich ofertą. <br>
        4. Wybierz pozycję z ich menu, a potem wprowadź ich ilość. <br>
        5. Wybierz rodzaj napoju i sosu i również uzupełnij ich ilość. W przypadku wyboru opcji 'bez sosu'/'bez napoju' wprowadź ilość 0.
        Aby Twoje zamówienie było kompletne, po każdej modyfikacji, naciśnij przycisk "Oblicz".
        Tak samo, jeśli posiadasz kupon, po wprowadzeniu jego identyfikatora, również naciśnij "Oblicz".
        Jeśli jesteś już pewien, co do zawartości swojego zamówienia, dla pewności wciśnij jeszcze raz przycisk "Oblicz", a następenie "Złóż zamówienie". <br>
        6. Uzupełnij swoje dane, byśmy wiedzieli do kogo i na jaki adres wyślemy zamówienie. <br>
        7. Wybierz formę płatności. <br>
        8. Zapamiętaj automatycznie wygenerowany numer, by na jego podstawie móc sprawdzić status zamówienia. <br>
        9. By móc monitorować etap przygotowania zamówienia, wróć na stronę główną i naciśnij przycisk "Sprawdź status zamówienia". <br>
        10. Następnie wrowadź tam numer. Na ekranie pojawi się informacja o statusie. <br>
        <br>
        Życzymy udanych zakupów i smacznego! :)
    </p>
</div>

{% endblock content %}