{% extends "Home/base.html" %}
{% block content %}
<h1>Wybierz zamawiane pizze i okreś ich ilość</h1>



<h2>Pizzeria {{ NazwaPOST }} </h2>
<br>
<hr>
    <form action="/OrderHead/" method="POST" id="formOrderLstToHead">
        {% csrf_token %}

        <!--techniczne utrzymanie danych do sesji (słabe do rozwiniecia w session -->
        <input type="text" name="IdPizzPOST" value="{{ IdPizzPOST }}"
               hidden readonly form="formOrderLstToHead">
        <input type="text" name="NazwaPOST" value="{{ NazwaPOST }}"
               hidden readonly form="formOrderLstToHead">
        <input type="text" name="OrderSum" value="{{ OrderSum }}"
               hidden readonly form="formOrderLstToHead">
        {% for posim in positionMenu %}
            <input type="text" name="PosListPizz_{{ posim.id }}" value={{ posim.countTmp }}
                   hidden readonly form="formOrderLstToHead">
        {% endfor %}
        <input type="text" name="couponCode" value="{{ couponCode }}"
               hidden readonly form="formOrderLstToHead">
        <input type="text" name="OrderSumDiscount" value="{{OrderSumDiscount}}"
               hidden readonly form="formOrderLstToHead">
        <input type="text" name="drink" value="{{drink}}"
               hidden readonly form="formOrderLstToHead">
        <input type="text" name="numberOfDrinks" value="{{numberOfDrinks}}"
               hidden readonly form="formOrderLstToHead">
        <!---->

    </form>

    <form action="/OrderList/" method="POST" id="formOrderLst">
        {% csrf_token %}

        <div style = "max-width:500px;">
           <button id = "btnClc" class="myButton" type = "submit"
              value = "Oblicz" form="formOrderLst">
              <strong>Oblicz</strong>
           </button>
            <br>
            <label>Wprowadź kod rabatowy:
            <input type="text" name="couponCode" value="{{ couponCode }}"></label>
            {% if coupon_obj is None and couponCode != '' %}
                <br>
                <small>Wprowadzony kod jest niepoprawny lub limit rabatów dla niego jest już wykorzystany.</small>
                <br>
            {% endif %}
            {% if OrderSum != 0 %}
               <button id = "btnPlcOrder" class="myButton" type = "submit"
                  value = "Złóż zamówienie" form="formOrderLstToHead">
                  <strong>Złóż zamówienie</strong>
               </button>
            {% endif %}
            <style>
            .myButton {
                  background-color: #07AF50; /* Green */
                  border: none;
                  color: black;
                  padding: 15px 32px;
                  text-align: center;
                  text-decoration: none;
                  font-size: 16px;
                  margin: 4px 2px;
                  cursor: pointer;
            }
            .myButton:hover {
                background-color:#5cbf2a;
            }
            </style>
        </div>
        <hr>
        <p>
            Kwota przed rabatem: <strong> {{OrderSum}} </strong>
            <br>
            {% if coupon_obj is not None %}
                Rabat: <strong> {{coupon_obj.discount }}% </strong>
                <br>
                Razem do zapłaty: <strong>{{ OrderSumDiscount }}</strong>
            {% else %}
                Rabat: <strong> brak </strong>
                <br>
                Razem do zapłaty: <strong> {{OrderSum}} </strong>
            {% endif %}

        </p>
        <hr>
            Wybierz napój (koszt każdego napoju to 3zł):
            <br>
            <label for="id_drink_0">
                <input type="radio" name="drink" value="1" required id="id_drink_0" {% if drink == '1' %} checked {% endif %}>
                Pepsi</label>
            <label for="id_drink_1">
                <input type="radio" name="drink" value="2" required id="id_drink_1" {% if drink == '2' %} checked {% endif %}>
                Coca Cola</label>
            <label for="id_drink_2">
                <input type="radio" name="drink" value="3" required id="id_drink_2" {% if drink == '3' %} checked {% endif %}>
                Sprite</label>
            <label for="id_drink_3">
                <input type="radio" name="drink" value="4" required id="id_drink_3" {% if drink == '4' %} checked {% endif %}>
                Sok pomarańczowy</label>
            <label for="id_drink_4">
                <input type="radio" name="drink" value="5" required id="id_drink_4" {% if drink == '5' %} checked {% endif %}>
                Woda</label>
             <label for="id_drink_5">
                <input type="radio" name="drink" value="6" required id="id_drink_5" {% if drink == '6' %} checked {% endif %}>
                Bez napoju</label>
        <br>
            Wprowadź ilość:
            <input type="text" name="numberOfDrinks" value="{{numberOfDrinks}}" size="1" maxlength="1" form="formOrderLst">

        <hr>
        <p>
            <!--techniczne utrzymanie danych do sesji (słabe do rozwiniecia w session -->
            <input type="text" name="IdPizzPOST" value="{{ IdPizzPOST }}"
                   hidden readonly form="formOrderLst">
            <input type="text" name="NazwaPOST" value="{{ NazwaPOST }}"
                   hidden readonly form="formOrderLst">
            <!---->

        {% for posim in positionMenu %}
            <h3>{{ posim.pizzaSize }}</h3>
            {{ posim.price }}
            {% if posim.Pizza_FK.looseOfPrice != 0 %}
                ({{ posim.Pizza_FK.looseOfPrice }}, promocja itPizza)
            {% endif %}
            {{ posim.Pizza_FK }}
            <input type="text" name="PosListPizz_{{ posim.id }}" value={{ posim.countTmp }} size = "2" maxlength = "2" form="formOrderLst">
            <br>
            {{ posim.pizzeria_id }}
        {% endfor %}



        </p>

    </form>




<table border="5" height="300">


    <br>
    <br>
    {% for pizza in pizzas %}


            {{ pizza.name }}


            <tr>
                <td colspan="4">{{ pizza.ingredients }}</td>
            </tr>
            <tr align=center valign=middle>
                <td width="100">small</td>
                <td width="100">medium</td>
                <td width="100">big</td>
                <td width="100">xxl</td>
            </tr>
            <tr align=center valign=middle>
                <td>{{ pizza.priceS }}</td>
                <td>{{ pizza.priceM }}</td>
                <td>{{ pizza.priceB }}</td>
                <td>{{ pizza.priceXXL }}</td>
            </tr>
    {% endfor %}
</table>




{% endblock content %}


