{% extends "Home/base.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Home/OrderPlaced.css' %}">

<h3 class="tekst"> Dziękujemy za złożenie zamówienia. </h3>
<div class="tekst">
    <h4> Zamówienie zrealizuje pizzeria <i>{{ NazwaPOST }}</i></h4>
    {% if OrderSum > OrderSumDiscount and OrderSumDiscount != '0.00' %}
        <h4>Wartość zamówienia: <i>{{ OrderSumDiscount }}</i></h4>
    {% else %}
        <h4>Wartość zamówienia : <i>{{ OrderSum }}</i> </h4>
    {% endif %}
</div>

<br>
<hr>

<h4 class="tekst2"> Zamówiłeś następujące pizze: </h4>
<p class="tekst3">
    {% for posim in positionMenu %}
        {% if posim.countTmp != 0 %}
            {{ posim.Pizza_FK }} w rozmiarze
            <strong>{{ posim.pizzaSize }}</strong>
            <p class="tekst3">
            {{ posim.price }}
            {% if posim.Pizza_FK.looseOfPrice != 0 %}
                ({{ posim.Pizza_FK.looseOfPrice }}, promocja itPizza)
            {% endif %}
            ilość: {{ posim.countTmp }}
            <br>
        {% endif %}
    {% endfor %}
<p class="tekst3">
    Zamówione przez Ciebie napoje to: {{ orderdata_obj.get_drink_display }} w ilości: {{ orderdata_obj.numberOfDrinks }}
<p class="tekst3">
    Zamówione przez Ciebie sosy to: {{ orderdata_obj.get_sauce_display }} w ilości: {{orderdata_obj.numberOfSauces }}
<hr>
<h3 class="tekst">Zamówienie zostanie wysłane na podany adres</h3>

<div class="tekst">
    <h3> {{ orderData.nameAndSurname }} </h3>
    <br>
    <h3>Forma płatności: {{ orderData.get_pay_display }}</h3>
    <h3> To jest numer zamówienia: {{orderData.orderNumber }}</h3>
    <p>*) zapamiętaj powyższy numer, przy jego pomocy sprawdzisz status zamówienia</p>
    <h3>To jest status zamówienia: {{orderData.get_orderStatus_display }}</h3>
</div>

{% endblock content %}