{% extends "Home/base.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Home/OrderHead.css' %}">

{% if OrderSum > OrderSumDiscount and OrderSumDiscount != '0.00' %}
    <h4 class="tekst">Wartość zamówienia: <i>{{ OrderSumDiscount }}</i> </h4>
{% else %}
    <h4 class="tekst">Wartość zamówienia: <i>{{ OrderSum }}</i> </h4>
{% endif %}
<h4 class="tekst">Zamówienie w pizzeri: <i>{{ NazwaPOST }}</i></h4>
<br>
<hr>
<p class="tekst3">
    Wybrane pizze:
    {% for posim in positionMenu %}
        {% if posim.countTmp != 0 %}
            {{ posim.Pizza_FK }} w rozmiarze
            <strong>{{ posim.pizzaSize }}</strong>
            <p class="tekst3">
            {{ posim.price }}
            {% if posim.Pizza_FK.looseOfPrice != 0 %}
                ({{ posim.Pizza_FK.looseOfPrice }}, promocja itPizza)
            {% endif %}
            ilość: {{ posim.countTmp }}
            <br>
        {% endif %}
    {% endfor %}
<p class="tekst3">
    Zamówione przez Ciebie napoje to: {{ orderdata_obj.get_drink_display }} w ilości: {{ orderdata_obj.numberOfDrinks }}
<p class="tekst3">
    Zamówione przez Ciebie sosy to: {{ orderdata_obj.get_sauce_display }} w ilości: {{orderdata_obj.numberOfSauces }}
</p>
<hr>
<h2 class="tekst">Wypełnij dane do przesłania zamówienia</h2>
<h4 class="tekst">Dane do przesłania zamówienia</h4>
<!-- ty wpisać FORM dla tabeli OrderData -->

<hr>
<h4 class="tekst2">Wprowadź dane osobowe i adres dowozu zamówienia</h4>

<form action='/OrderPlaced/' method='POST'> {% csrf_token %}
    <!--techniczne utrzymanie danych do sesji (słabe do rozwiniecia w session -->
            <input type="text" name="IdPizzPOST" value="{{ IdPizzPOST }}"
                   hidden readonly>
            <input type="text" name="NazwaPOST" value="{{ NazwaPOST }}"
                   hidden readonly>
            <input type="text" name="OrderSum" value="{{ OrderSum }}"
                   hidden readonly>
            {% for posim in positionMenu %}
                <input type="text" name="PosListPizz_{{ posim.id }}" value={{ posim.countTmp }}
                       hidden readonly>
            {% endfor %}
            <input type="text" name="couponCode" value="{{ couponCode }}"
                   hidden readonly>
            <input type="text" name="OrderSumDiscount" value="{{OrderSumDiscount}}"
                   hidden readonly>
            <input type="text" name="drink" value="{{orderdata_obj.drink}}"
                   hidden readonly>
            <input type="text" name="numberOfDrinks" value="{{orderdata_obj.numberOfDrinks}}"
                   hidden readonly>
            <input type="text" name="sauce" value="{{orderdata_obj.sauce}}"
                   hidden readonly>
            <input type="text" name="numberOfSauces" value="{{orderdata_obj.numberOfSauces}}"
                   hidden readonly>
    <!---->
    <!--<label for="{{ form.nameAndSurname.id_for_label }}">Imię i nazwisko </label>-->
    <!--{{ form.nameAndSurname }}-->
    {{form.as_p}}
    <div class="field">
        <input type="submit" value="Wyślij zamówienie" class="btn btn-danger btn-lg">
    </div>
</form>


{% endblock content %}