{% extends "Home/base.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Home/OrderList.css' %}">

<h3 class="tekst">Wybierz zamawiane pizze i określ ich ilość</h3>

<h4 class="tekst">Pizzeria {{ NazwaPOST }} </h4>
<br>
<hr>
    <form action="/OrderHead/" method="POST" id="formOrderLstToHead">
        {% csrf_token %}

        <!--techniczne utrzymanie danych do sesji (słabe do rozwiniecia w session -->
        <input type="text" name="IdPizzPOST" value="{{ IdPizzPOST }}"
               hidden readonly form="formOrderLstToHead">
        <input type="text" name="NazwaPOST" value="{{ NazwaPOST }}"
               hidden readonly form="formOrderLstToHead">
        <input type="text" name="OrderSum" value="{{ OrderSum }}"
               hidden readonly form="formOrderLstToHead">
        {% for posim in positionMenu %}
            <input type="text" name="PosListPizz_{{ posim.id }}" value={{ posim.countTmp }}
                   hidden readonly form="formOrderLstToHead">
        {% endfor %}
        <input type="text" name="couponCode" value="{{ couponCode }}"
               hidden readonly form="formOrderLstToHead">
        <input type="text" name="OrderSumDiscount" value="{{OrderSumDiscount}}"
               hidden readonly form="formOrderLstToHead">
        <input type="text" name="drink" value="{{drink}}"
               hidden readonly form="formOrderLstToHead">
        <input type="text" name="numberOfDrinks" value="{{numberOfDrinks}}"
               hidden readonly form="formOrderLstToHead">
        <input type="text" name="sauce" value="{{sauce}}"
               hidden readonly form="formOrderLstToHead">
        <input type="text" name="numberOfSauces" value="{{numberOfSauces}}"
               hidden readonly form="formOrderLstToHead">
        <!---->

    </form>

    <form action="/OrderList/" method="POST" id="formOrderLst">
        {% csrf_token %}


        <div class="field">
           <input type = "submit" id = "btnClc" class="btn btn-danger btn-lg" type = "submit"
              value = "Oblicz" form="formOrderLst">


            <br>
            <div class="field">
                <label>Wprowadź kod rabatowy:
                <input type="text" name="couponCode" value="{{ couponCode }}"></label>
                {% if coupon_obj is None and couponCode != '' %}
                    <br>
                    <small>Wprowadzony kod jest niepoprawny lub limit rabatów dla niego jest już wykorzystany.</small>
                    <br>
                {% endif %}
                <br>
                <br>
                <h6> Pamiętaj, żeby przeliczyć wartość zamówienia po każdej wprowadzonej w nim zmianie (po wpisaniu kodu rabatowego również).</h6>
                <h6> Pomijając ten krok Twoje zamówienie może być niekompletne, bądź mieć nieprawidłową wartość.</h6>
                <br>
                {% if OrderSum != 0 %}
                   <input type="submit" button id = "btnPlcOrder" class="btn btn-danger" type = "submit"
                      value = "Złóż zamówienie" form="formOrderLstToHead">
                {% endif %}
            </div>
        </div>
            <!-- style -->


        <hr>
        <p>
            Kwota przed rabatem: <strong> {{OrderSum}} </strong>
            <br>
            {% if coupon_obj is not None %}
                Rabat: <strong> {{coupon_obj.discount }}% </strong>
                <br>
                Razem do zapłaty: <strong>{{ OrderSumDiscount }}</strong>
            {% else %}
                Rabat: <strong> brak </strong>
                <br>
                Razem do zapłaty: <strong> {{OrderSum}} </strong>
            {% endif %}

        </p>
        <hr>
            Wybierz napój (koszt każdego napoju to 3zł):
            <br>
            <label for="id_drink_0">
                <input type="radio" name="drink" value="1" required id="id_drink_0" {% if drink == '1' %} checked {% endif %}>
                Pepsi</label>
            <label for="id_drink_1">
                <input type="radio" name="drink" value="2" required id="id_drink_1" {% if drink == '2' %} checked {% endif %}>
                Coca Cola</label>
            <label for="id_drink_2">
                <input type="radio" name="drink" value="3" required id="id_drink_2" {% if drink == '3' %} checked {% endif %}>
                Sprite</label>
            <label for="id_drink_3">
                <input type="radio" name="drink" value="4" required id="id_drink_3" {% if drink == '4' %} checked {% endif %}>
                Sok pomarańczowy</label>
            <label for="id_drink_4">
                <input type="radio" name="drink" value="5" required id="id_drink_4" {% if drink == '5' %} checked {% endif %}>
                Woda</label>
             <label for="id_drink_5">
                <input type="radio" name="drink" value="6" required id="id_drink_5" {% if drink == '6' %} checked {% endif %}>
                Bez napoju</label>
        <br>
            Wprowadź ilość:
            <input type="text" name="numberOfDrinks" value="{{numberOfDrinks}}" size="1" maxlength="1" form="formOrderLst">

        <hr>
        Wybierz sos (koszt każdego napoju to 2zł):
            <br>
            <label for="id_sauce_0">
                <input type="radio" name="sauce" value="1" required id="id_sauce_0" {% if sauce == '1' %} checked {% endif %}>
                Sos pomidorowy</label>
            <label for="id_sauce_1">
                <input type="radio" name="sauce" value="2" required id="id_sauce_1" {% if sauce == '2' %} checked {% endif %}>
                Sos czosnkowy</label>
            <label for="id_sauce_2">
                <input type="radio" name="sauce" value="3" required id="id_sauce_2" {% if sauce == '3' %} checked {% endif %}>
                Sos BBQ</label>
            <label for="id_sauce_3">
                <input type="radio" name="sauce" value="4" required id="id_sauce_3" {% if sauce == '4' %} checked {% endif %}>
                Sos orientalny</label>
            <label for="id_sauce_4">
                <input type="radio" name="sauce" value="5" required id="id_sauce_4" {% if sauce == '5' %} checked {% endif %}>
                Sos tysiąca wysp</label>
             <label for="id_sauce_5">
                <input type="radio" name="sauce" value="6" required id="id_sauce_5" {% if sauce == '6' %} checked {% endif %}>
                Bez sosu</label>
        <br>
            Wprowadź ilość:
            <input type="text" name="numberOfSauces" value="{{numberOfSauces}}" size="1" maxlength="1" form="formOrderLst">

        <hr>
        <p>
            <!--techniczne utrzymanie danych do sesji (słabe do rozwiniecia w session -->
            <input type="text" name="IdPizzPOST" value="{{ IdPizzPOST }}"
                   hidden readonly form="formOrderLst">
            <input type="text" name="NazwaPOST" value="{{ NazwaPOST }}"
                   hidden readonly form="formOrderLst">
            <input type="text" name="listOfPizzas" value="{{ listOfPizzas }}"
                   hidden readonly form="formOrderLst">
            <!---->

            <table>
                <tr>
                    <td><strong> PIZZA + SKŁADNIKI </strong></td>
                    <td><strong> ROZMIAR </strong></td>
                    <td><strong> CENA (+ceny promocyjne) </strong></td>
                    <td><strong> ILOŚĆ </strong></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                {% for posim in positionMenu %}
                    <tr>
                        <td width="370">{{ posim.Pizza_FK }}</td>
                        <td width="90">{{ posim.get_pizzaSize_display }}</td>
                        <td width="200">{{ posim.price }}
                            {% if posim.Pizza_FK.looseOfPrice != 0 %}
                                ({{ posim.Pizza_FK.looseOfPrice }})
                            {% endif %}</td>
                        <td><input type="text" name="PosListPizz_{{ posim.id }}"
                                   value={{ posim.countTmp }} size = "2" maxlength = "2"
                                   form="formOrderLst"></td>
                    </tr>
                {% endfor %}
        </table>
    </form>

{% endblock content %}