{% extends "Home/base.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Home/OrderPlaced.css' %}">

<h3 class="tekst"> Dziękujemy za złożenie zamówienia! </h3>
<div class="tekst">
    <h4> Zamówienie zrealizuje pizzeria <i>{{ NazwaPOST }}</i></h4>
    {% if OrderSum > OrderSumDiscount and OrderSumDiscount != '0.00' %}
        <h4>Wartość zamówienia: <i>{{ OrderSumDiscount }}</i></h4>
    {% else %}
        <h4>Wartość zamówienia : <i>{{ OrderSum }}</i> </h4>
    {% endif %}
</div>

<br>
<hr>
<center><h3 class="tekst">Twoje zamówienie</h3></center>
<p class="tekst3">
    <table>
        <tr>
            <td width="550"><strong> WYBRANE POZYCJE MENU </strong></td>
            <td width="50"><strong> ILOŚĆ </strong></td>
        </tr>

        {% for posim in positionMenu %}
            {% if posim.countTmp != 0 %}
                <tr>
                    <td>{{ posim.Pizza_FK }} w rozmiarze <strong>{{ posim.get_pizzaSize_display }}</strong></td>
                    <td>{{ posim.countTmp }}</td>
                 </tr>
            {% endif %}
        {% endfor %}

        <tr>
            <td>{{ orderData.get_drink_display }}</td>
            <td>{{ orderData.numberOfDrinks }}</td>
        </tr>
        <tr>
            <td>{{ orderData.get_sauce_display }}</td>
            <td>{{ orderData.numberOfSauces }}</td>
    </table>
<hr>
<h3 class="tekst">Dane kontaktowe</h3>

<div>
    <strong>Imię i nazwisko: </strong> {{ orderData.nameAndSurname }} <br>
    <strong> Adres: </strong> {{ orderData.street }} {{ orderData.streetNumber }}/{{ orderData.houseNumber }} <br>
    <strong> Adres email: </strong> {{ orderData.email }} <br>
    <strong> Numer telefonu: </strong> {{ orderData.phoneNumber }} <br>
    <br>
    <br>
    <strong>Wybrana forma płatności: </strong> {{ orderData.get_pay_display }} <br>
    <strong> Wygenerowany numer zamówienia: {{ orderData.orderNumber }}</strong> <br>

    <p>ZAPAMIĘTAJ POWYŻSZY NUMER, BY ZA JEGO POMOCĄ SPRAWDZIĆ STATUS ZAMÓWIENIA. </p> <br>

    <strong>Aktualny status zamówienia: {{orderData.get_orderStatus_display }}</strong> <br>
    <p>W celu uzyskania informacji o kolejnych statusach zamówienia,
        wróć na stronę główną i naciśnij przycisk "Sprawdź status zamówienia".
    </p>
</div>

{% endblock content %}