{% extends "Home/base.html" %}
{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Home/SelectPizzeria.css' %}">

    <form action="/SelectPizzeria/" method = "POST" id="formChoicePizz">
        {% csrf_token %}

        <div class="field">
            <label for="{{ form.cfPizzeria.id_for_label }}">Wybierz pizzerię: </label>
            {{ form.cfPizzeria }}
        </div>

        <br>
        <div class="field">
            <input type="submit" class="btn btn-danger btn-lg" value="Szukaj">
        </div>
    </form>

    <br>
    <hr>

{% if IdPizzPOST != 'xx' and IdPizzPOST != '0' %}
    <form action="/OrderList/" method = "POST" id="formToOrder">
        {% csrf_token %}



            <div class="tekst">
                <h3>Menu w pizzerii: <strong>{{ NazwaPOST }} </strong></h3>
            </div>

            <!--techniczne utrzymanie danych do sesji (słabe do rozwiniecia w session -->
            <input type="text" name="IdPizzPOST" value="{{ IdPizzPOST }}"
                   hidden readonly form="formToOrder">
            <input type="text" name="NazwaPOST" value="{{ NazwaPOST }}"
                   hidden readonly form="formToOrder">
            <!---->

              <div class="field">
                   <input type="submit" value="Przygotuj zamówienie w {{ NazwaPOST}}" form="formToOrder" class="btn btn-danger btn-lg">
              </div>

    </form>

    <hr>
    <br>

<p>
    <table>
        <tr>
            <td><strong> PIZZA + SKŁADNIKI </strong></td>
            <td><strong> ROZMIAR </strong></td>
            <td><strong> CENA (+ceny promocyjne) </strong></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        {% for posim in positionMenu %}
            <tr>
                <td width="370">{{ posim.Pizza_FK }}</td>
                <td width="90">{{ posim.get_pizzaSize_display }}</td>
                <td width="200">{{ posim.price }}
                    {% if posim.Pizza_FK.looseOfPrice != 0 %}
                        ({{ posim.Pizza_FK.looseOfPrice }})
                    {% endif %}</td>
            </tr>
        {% endfor %}
    </table>
<br>
<br>
<h5>Pozycje z dodatkową ceną w nawiasie to pozycje z ceną narzucaną przez portal itPizza :)</h5>

{% endif %}
</p>

{% endblock content %}